{#
/**
 * @file
 * input--search.html.twig
 *
 * Markup for Bootstrap search forms.
 */

#}
<div class="input-group">
  <input{{ attributes }} />
    <span class="input-group-btn">
     <button class="btn btn-default" type="submit">
      <span class="glyphicon glyphicon-search"></span>
    </button>
    </span>
{{ children }}
</div>
